/**
Personal Website of Patrick Shinn
Author: Patrick Shinn

Special Thanks to:
    CSSReset.com - How To Keep Footer At Bottom of Page with CSS for:
    http://www.cssreset.com/2010/css-tutorials/how-to-keep-footer-at-bottom-of-page-with-css/
**/

html,
body {
	margin:0;
	padding:0;
	height:100%;
    background-color: lightgray;
    font-size: 1.2em;
}
#wrapper {
	min-height: 100%;
	position: relative;
}
header {
}
/**
Page Navigation ---------------------------------------------------------------------
**/
header nav{
    background-color: black;
}

/*High lights the current page tab on the nav bar*/
#current_page{
    background-color: darkgrey;
}

#global_nav {
    font-family: sans-serif;
    font-size: 1.5em;
    margin-left: -.1em;
    padding-left: .5em;
    padding-right: .5em;
    padding-top: .15em;
    padding-bottom: .15em;
}
#global_nav:link {
    color: white;
    text-decoration: none;
}
#global_nav:visited {
    color: white;
    text-decoration: none;
}
#global_nav:hover {
    color: white;
    text-decoration: none;
    background-color: grey;
}

/**
Main Body ---------------------------------------------------------------------------
**/
main {
    padding-bottom: 170px;
    margin: auto;
    width: 90%;
}
.link{
    color: cornflowerblue;
    text-decoration: none;
}
.link:visted{
    color: cornflowerblue;
    text-decoration: none;
}
.link:hover{
    color: aqua;
    text-align-last: none;
}
/**
Footer -------------------------------------------------------------------------------
**/
footer {
    height: 165px;;
    font-size: 1.2em;
    color: aliceblue;
    text-align: center;
    background:grey;
	width:100%;
    /*Footer fix for Firefox */
    padding-bottom: 20px;
    margin-bottom: -20px;

    
	position:absolute;
	bottom:0;
	left:0;
}
footer table {
    margin: auto;
    margin-top: .2em;
    margin-bottom: -.8em;
}
footer img{
    width: 3.5em;
    height: 3.5em;
}