@import "utils/_utils";


.logo{
    width: 2em;
    float: right;
}

.long-logo{
    width: 4em;
    float: right;
}

.hobby-pic{
    width: 30%;
    height: 30%;
    max-width: 100%;
    margin-bottom: 1em;
}