@import "utils/_utils"; // utilities

#contact_table {
  margin: auto !important;

  img {
    width: 3em !important;
  }
}

#float-left {
  width: 50%;
  float: left;
}

#float-right {
  width: 50%;
  float: right;
}
