@import "utils/_utils"; // utilities

#contact_table {
  margin: auto !important;

  img {
    width: 3em !important;
  }
}

#gooleForm {
  margin: 0 auto;
  margin-top: 1em;
}

.float-left {
  width: 50%;
  float: left;
}

.float-right {
  width: 50%;
  float: right;
}
