@import "utils/_utils";

#home{
    overflow-y: hidden;
    background-image: url("content/images/home.jpg");
		box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);
		background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#greeting_content{
  z-index: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: 20em;
}

#greeting{
	float: left;
	width: 45%;
  color: white;

  h1{
    font-size: 3em;
  }

  p{
    font-size: 1.5em;
  }
}

#me{
    float: left;
    width: 18em;
    border: 3px solid $accent-color;
    border-radius: 1em;
    margin-right: 2em;
    margin-top: -2em;
}
