
@import "utils/_utils"; // utilities

main .tabs{
    font-size: 1.2em;
    margin-right: 2%;
    padding: .4em;
    background: $label-color;
    border-radius: .3em;
    color: white;

    &:hover{
      box-shadow:  2px 2px 12px black;
    }
}

ol li div{
  margin-left: .6em;
  color: black;
}
// ### classes ###

.badgeTable{
    margin-top: .35em;
    margin-left: -.2em;
}
