
@import "utils/_utils"; // utilities

main label{
    font-size: 1.2em;
    margin-right: 2%;
    padding: .4em;
    background: $label-color;
    border-radius: .3em;
    color: white;

    &:hover{
      box-shadow:  2px 2px 12px black;
    }
}

ol li div{
  margin-left: .6em;
}
// ### classes ###

.badgeTable{
    margin-top: .35em;
    margin-bottom: -1em;
    margin-left: -.2em;
}

// ### IDs ###

#ongoingResearch,
#completedResearch,
#releasedSoftware{
    display: none;
}

// selectos on page for research/project type
input#ongoing:checked ~div#ongoingResearch,
input#completed:checked ~div#completedResearch,
input#released:checked ~div#releasedSoftware{
    display: block;
}

input#ongoing:checked ~label#ongoingLabel,
input#completed:checked ~label#completedLabel,
input#released:checked ~label#releasedLabel{
    color: $accent-color;
}
