/* For the font*/
@font-face {
	font-family: 'pt-sans';
	src: url("../fonts/ptsans/PT_Sans-Web-Regular.ttf") format('truetype');
}

$font: 'pt-sans', Fallback, sans-serif;
$main-color: #363636;
$nav-color: #F1EAD8;
$accent-color: #2599ff;
$background-color: #363636;
$label-color:  #2599ff;
$link-color: #0453C6;
