/* For the font*/
@font-face {
	font-family: 'pt-sans';
	src: url("../fonts/ptsans/PT_Sans-Web-Regular.ttf") format('truetype');
}

$font: 'pt-sans', Fallback, sans-serif;
$main-color: #231F20;
$nav-color: #F1EAD8;
$accent-color: #20a4f3;
$background-color: #231F20;
$label-color:  #335c81;
$link-color: #0453C6;
